/*
 * popup.css
 * 	Styles the popup.html
 * 	MG orange: color: #E6782D / 227 120 45
*/
body
{
	min-width: 475px;
	min-height: 200px;
	
	font-family: 'Exo 2', sans-serif;
	font-size: 0.75em;
	
	margin: 5px;
	padding-top: 15px;
	
	background-image: url(http://forum.mobilegeeks.de/images/Breeze/misc/logo.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 165px;
}

header
{
	font-size: 1.45em;
	font-weight: bold;
	margin-left: 165px;
	color: #99CC33;
}

footer
{
	font-size: 0.75em;
	color: #c0c0c0;
	text-align: center;	
	padding-top: 1px;
}

ul
{
	padding-left: 5px;
}

ul li
{
	list-style: none;
	padding: 5px;
	border-bottom: #c0c0c0 solid 1px;
}

ul li:hover
{
	background: #E6782D;
}

a
{
	text-decoration: none;
	color: black;
}

footer span
{
	padding-right: 5px;
}

footer span:last-child
{
	padding-right: 0px;
}