<html>

<head>
	<title>MobileGeeks: Latest News</title>
	
	<!-- Javascript -->
	<script src="../scripts/jquery.min.js"></script>
	<script src="popup.js"></script>
	
	<!-- Styles -->
	<link href="popup.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css' />
</head>

<body>
	<!-- Header -->
	<div id="hov">
		<div id="block" />
	</div>
	
	<header>
		Mobile<span id="ge">Geeks</span>: Latest <a href="#" id="label-feed">News</a> or 
		<a href="#" id="label-forum" class="nonactive-nav">Community entries</a> 
	</header>
	</div>
	
	<!-- Lists -->
	<div id="list-view">
		<ul id="feed-entries"></ul>	
		<ul id="forum-entries" class="hidden"></ul>
	</div>
	
	<!-- Settings -->
	<div id="setting-view" class="hidden">
		<form>
			<label for="itemsCount">Items count:</label><input type="text" id="itemsCount" readonly>
			<label for="linkBlog">Feed blog link:</label><input type="text" id="linkBlog" readonly>
			<label for="linkForum">Feed forum link:</label><input type="text" id="linkForum" readonly>
			<button id="setting-save-button">save</button>
		</form>
	</div>
	
	<div class="clear"></div>
	
	<!-- Footer -->
	<footer>
		<span id="mg-link">
			Visit <a href="http://www.mobilegeeks.de" target="_blank">MobileGeeks.de</a>
		</span>
		
		<span id="gh-link">
			Fork me at <a href="https://github.com/tscholze/mg-chrome-extension" target="_blank">Github.com</a>
		</span>
		
		<span>
			<a href="#" id="setting-link">Settings</a>
		</span>
		
		<span id="version"></ul>
	</footer>
</body>

</html>
