/*
 * popup.css
 * 	Styles the popup.html
 * 	MG orange: color: #E6782D / 227 120 45
*/
body
{
	min-width: 475px;
	min-height: 180px;
	
	font-family: 'Exo 2', sans-serif;
	font-size: 0.75em;
	
	margin: 5px;
	padding-top: 15px;
}

#block
{
	margin-left: 1em;
	margin-top: -1em;
	position: relative;
	width: 0.3em;
	height: 4em;
	background-color: #53565E;
}

header
{
	margin-top: -2em;
	font-size: 1.45em;
	font-weight: bold;
	margin-left: 20px;
	color: #53565E;
}

#ge
{
	color: #E6782D;
}

#hov:hover #block
{
	background-color: #E6782D;
}	
	

footer
{
	font-size: 0.6em;
	color: #c0c0c0;
	text-align: center;	
	margin-top: -7px;
}

ul
{
	padding-top: 5px;
	padding-left: 5px;
}

ul li
{
	list-style: none;
	padding: 5px;
	border-bottom: #c0c0c0 solid 1px;
}

ul li:hover
{
	background: #FFB211;
}

a
{
	text-decoration: none;
	color: black;
}

footer span
{
	padding-right: 5px;
}

footer span:last-child
{
	padding-right: 0px;
}