<html>

<head>
	<title>MobileGeeks: Latest News</title>
	
	<!-- Javascript -->
	<script src="../scripts/jquery.min.js"></script>
	<script src="popup.js"></script>
	
	<!-- Styles -->
	<link href="popup.css" rel="stylesheet" />
	<link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- Header -->
	<div id="hov">
	<div id="block"></div>
	<header>
		Mobile<span id="ge">Geeks</span>: Latest News
	</header>
	</div>
	<!-- List -->
	<ul id="entries"></ul>
	
	<!-- Footer -->
	<footer>
		<span id="mg-link">
			Visit <a href="http://www.mobilegeeks.de" target="_blank">MobileGeeks</a>
		</span>
		
		<span id="gh-link">
			Fork me at <a href="https://github.com/tscholze/mg-chrome-extension" target="_blank">Github.com</a>
		</span>
		
		<span id="version"></ul>
	</footer>
</body>

</html>
